
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomErrors</title>
</head>
<body>
    <div> 
        这是web.config定义的错误处理页面
    </div>
</body>
</html>
